/* SUMMARY
  0. Variables
  1. Base
  2. Globals
  3. Theme
  4. Menu
  5. Home
  Media queries
*/
/* 0. Variables
  ============================= */
:root {
  --blue: #378afc;
  --lightblue: #04a5f0;
  --darkblue: #3572a5;
  --gray: #30363d;
  --lightgray: #c9d1d9;
  --black: #0d1117;
  --white: #ffffff;
  --font-family-base: sans-serif;
  --font-size-xxl: 22px;
  --font-size-xl: 20px;
  --font-size-l: 18px;
  --font-size-base: 16px;
  --font-size-s: 14px;
  --font-size-xs: 12px;
  --font-size-xxs: 10px;
}
/* 1. Base
  ============================= */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: 1.16;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: var(--lightblue);
}
a:link {
  text-decoration: none;
}
a:visited {
  font-style: italic;
}
a:hover {
  text-decoration: underline;
  color: var(--blue);
}
a:active {
  color: var(--darkblue);
}
h1,
h2,
h3,
h4 {
  font-size: var(--font-size-l);
  text-align: center;
  text-transform: capitalize;
}
header {
  top: 0;
  padding: 1rem;
}
header a {
  padding: 1rem;
}
main {
  max-width: 100%;
  min-height: 1vh;
  margin: auto;
  padding: 1rem;
}
aside {
  background-color: var(--white);
  text-align: center;
  padding-top: 1rem;
}
aside small {
  color: var(--lightgray);
  text-transform: uppercase;
}
aside div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
address {
  text-align: center;
}
footer {
  font-weight: lighter;
  text-align: right;
  padding: 0.2rem;
}
footer p {
  font-size: var(--font-size-xs);
  margin-bottom: auto;
}
footer small {
  font-size: var(--font-size-xxs);
}
/* 2. Globals
  ============================= */
.d-none {
  display: none;
}
.t-center {
  text-align: center;
}
.light-mode {
  background-color: var(--white);
  color: var(--gray);
}
.dark-mode {
  background-color: var(--black);
  color: var(--lightgray);
}
/* 3. Theme
  ============================= */
.theme {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 5rem;
  display: flex;
}
.theme-cb {
  visibility: hidden;
}
.theme-label {
  width: 4rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 1rem 1rem;
  border: thin solid var(--lightblue);
  background-color: var(--lightgray);
  position: relative;
}
.theme-label:hover {
  cursor: pointer;
}
.theme-inner {
  width: 1rem;
  height: 1rem;
  left: 0.5rem;
  text-align: center;
  position: absolute;
  transition: 0.8s;
}
.theme-inner::before {
  content: "☀️";
}
.theme-switch {
  width: 2rem;
  height: 2rem;
  background-color: var(--blue);
  border: thin solid var(--lightblue);
  border-radius: 50%;
  right: -0.5rem;
  position: absolute;
  transition: 0.8s;
}
.theme .theme-cb:not(:checked) + .theme-label {
  background-color: var(--gray);
}
.theme .theme-cb:not(:checked) + .theme-label .theme-inner {
  transform: translateX(1.5rem);
}
.theme .theme-cb:not(:checked) + .theme-label .theme-inner::before {
  content: "🌙";
}
.theme .theme-cb:not(:checked) + .theme-label .theme-switch {
  transform: translateX(-2.5rem);
}
/* 4. Menu
  ============================= */
.btn-menu {
  position: fixed;
  z-index: 999;
  bottom: 2vh;
  right: 2vw;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}
.btn-menu:hover {
  background-color: var(--darkblue);
}
.menu-open {
  display: none;
}
.menu-open-btn {
  width: 2rem;
  height: 2rem;
}
.menu-line {
  width: 2rem;
  height: 0.2rem;
  background-color: var(--white);
  border-radius: 0.2rem;
  position: absolute;
  transition: all 0.1s ease-in-out;
  margin: 1rem -1rem;
}
.menu-line-1 {
  transform: translate3d(0, -0.7rem, 0);
}
.menu-line-2 {
  width: 1.4rem;
  transform: translate3d(0, 0, 0);
}
.menu-line-3 {
  transform: translate3d(0, 0.7rem, 0);
}
.menu-open:checked + .menu-open-btn .menu-line-1 {
  transform: rotate(45deg) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-btn .menu-line-2 {
  transform: scale(0) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-btn .menu-line-3 {
  transform: rotate(-45deg) translate3d(0, 0, 0);
}
.navbar {
  display: block;
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  background-color: var(--gray);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translate(-100%, 0);
}
.navbar.nv-active {
  opacity: 0.96;
  visibility: visible;
  transform: translate(0, 0);
}
.menu-list {
  list-style: none;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 2rem;
}
.menu-list li {
  width: 100%;
}
.menu-list a {
  display: block;
  width: inherit;
  transition: all 0.3s ease;
  padding: 2rem 4rem;
}
.menu-list a:hover {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 2rem 0 0 2rem;
}
/* 5. Home
  ============================= */
.home figure {
  width: 10rem;
  margin: auto;
}
.home figure img {
  border: thin solid var(--white);
  border-radius: 50%;
}
.home figure figcaption {
  font-weight: lighter;
  font-size: var(--font-size-xxs);
  text-align: center;
}
/* Media queries
  ============================= */
@media screen and (min-width: 480px) {
  main {
    max-width: 420px;
  }
  footer {
    padding: 1rem;
  }
  footer p {
    font-size: var(--font-size-s);
  }
  footer small {
    font-size: var(--font-size-xs);
  }
  .home figure figcaption {
    font-size: var(--font-size-xs);
  }
}

@media screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: var(--font-size-xl);
  }
  header {
    padding: 1.5rem;
  }
  main {
    max-width: 720px;
  }
  aside div {
    flex-direction: row;
    justify-content: space-evenly;
  }
  footer {
    padding: 2rem;
  }
  footer p {
    font-size: var(--font-size-base);
  }
  footer small {
    font-size: var(--font-size-s);
  }
  .home figure figcaption {
    font-size: var(--font-size-s);
  }
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 960px;
  }
  .btn-menu {
    display: none;
  }
  .navbar {
    display: block;
    position: relative;
    z-index: 0;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: 100%;
    overflow-y: auto;
    background-color: var(--gray);
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
  .menu-list {
    list-style: none;
    width: inherit;
    display: flex;
    flex-direction: row;
  }
  .menu-list a {
    display: block;
    transition: all 0.5s ease;
    padding: 0.5rem 1rem;
  }
  .menu-list a:hover {
    background-color: inherit;
    border-radius: 0;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding: 2rem;
  }
  main {
    max-width: 1140px;
  }
}
/*
  ============================= */
