*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
a:visited {
  font-style: italic;
}
a:hover {
  text-decoration: underline;
}
a:active {
}
.d-none {
  display: none;
}
