/* SUMMARY
  0. Imports
  1. Custom properties
  2. Base
  3. Globals
  4. Headings
  5. Text formatting
  6. Header
  7. Main
  8. Aside
  9. Footer
  10. Theme
  11. Media queries

  0. IMPORTS
  ============================= */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;500&display=swap');
/* 1. CUSTOM PROPERTIES
  ============================= */
:root {
  --c-dark: #30363d;
  --c-light: #fafafa;
  --c-primary: #0078d7;
  --c-highlight: #00a1f1;
  --ff-base: 'Noto Sans Display', sans-serif;
  --fw-tiny: 100;
  --fw-light: 300;
  --fw-base: 400;
  --fw-bold: 500;
  --fw-bolder: 700;
  --fs-xl: 2rem;
  --fs-l: 1.75rem;
  --fs-base: 1.5rem;
  --fs-s: 1.25rem;
  --fs-xs: 1rem;
}
/* 2. BASE
  ============================= */
html {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  height: 100%;
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  line-height: 1.75;
}
a:link {
  text-decoration: none;
}
a:visited {
  font-style: italic;
}
a:active {
  color: var(--c-highlight);
}
img {
  max-width: 100%;
  height: auto;
}
/* 3. GLOBALS
  ============================= */
.container-fluid {
  width: 100%;
}
.container {
  width: 100%;
}
.d-none {
  display: none;
}
/* 4. HEADINGS
  ============================= */
.fullname {
  margin: 0;
  font-size: 1px;
  font-weight: var(--fw-tiny);
  color: transparent;
}
.title {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bolder);
  text-align: center;
}
.subtitle {
  font-size: var(--fs-l);
  font-weight: var(--fw-bold);
  text-align: center;
}
.heading {
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
}
/* 5. TEXT FORMATTING
============================= */
.foot {
  font-size: var(--fs-xs);
}
/* 6. HEADER
============================= */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.brand {
  margin: 0;
  display: flex;
  align-items: center;
}
.brand-logo {
  width: 4rem;
  margin-right: 1rem;
}
.brand-name span {
  font-size: var(--fs-s);
}
.btns {
  margin-right: 1rem;
}
.btn {
  background-color: transparent;
  border: none;
  padding: 1rem;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.btn-flag {
  width: 2rem;
}
/* 7. MAIN
============================= */
.main {
  margin-top: 3rem;
  padding: 0 2rem;
}
.person {
  width: 16rem;
  margin: auto;
  text-align: center;
}
.person-picture {
  width: 8rem;
  border-radius: 50%;
}
.person-name {
  font-size: var(--fs-s);
  font-weight: var(--fw-light);
}
/* 8. ASIDE
  ============================= */
.details {
  padding: 0 2rem 8rem;
  font-weight: var(--fw-light);
}
.details-last {
  text-align: right;
  font-size: var(--fs-s);
}
.summary {
  font-weight: var(--fw-bold);
  color: var(--c-highlight);
}
.summary:hover {
  color: var(--c-primary);
  cursor: pointer;
}
.summary:focus {
  outline: none;
}
.article {
  border: 0.1rem solid var(--c-highlight);
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 2rem;
}
/* 9. FOOTER
  ============================= */
.footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  background-color: var(--c-light);
  color: var(--c-dark);
}
.footer-nav {
  width: 320px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
.nav-icon {
  margin: 0;
  text-align: center;
  font-size: var(--fs-xl);
  padding: 0 2rem;
}
.footer-copyright {
  margin: 0;
  padding-right: 2rem;
  align-self: flex-end;
}
/* 10. THEME
  ============================= */
.light {
  background-color: var(--c-light);
  color: var(--c-dark);
}
.light a {
  color: var(--c-primary);
}
.light a:hover {
  text-decoration: underline;
  color: var(--c-highlight);
}
.dark {
  background-color: var(--c-dark);
  color: var(--c-light);
}
.dark a {
  color: var(--c-highlight);
}
.dark a:hover {
  text-decoration: underline;
  color: var(--c-primary);
}
/* 11. MEDIA QUERIES
  ============================= */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: auto;
  }
  .main {
    margin-top: 3.2rem;
  }
  .footer-nav {
    align-self: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .brand-logo {
    width: 5rem;
  }
  .brand-name {
    font-size: var(--fs-l);
  }
  .main,
  .details {
    width: 540px;
    margin: auto;
    padding: 0;
  }
  .main {
    display: flex;
  }
  .person {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .brand-logo {
    width: 6rem;
  }
  .brand-name {
    font-size: var(--fs-xl);
  }
  .brand-name span {
    font-size: var(--fs-base);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
